<!-- Metricas Basicas -->
<ion-list>
  <ion-list-header>
    <h3>Métricas Básicas</h3>
  </ion-list-header>
  <ion-item>
    <ion-label>
      <h3>Operadores Únicos</h3>
      <p>n1</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasBasicas?.n1 }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Operandos Únicos</h3>
      <p>n2</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasBasicas?.n2 }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Total Operadores</h3>
      <p>N1</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasBasicas?.N1 }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Total Operandos</h3>
      <p>N2</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasBasicas?.N2 }}
    </ion-label>
  </ion-item>
</ion-list>
<!-- /Metricas Basicas -->

<!-- Metricas Derivadas -->
<ion-list>
  <ion-list-header>
    <h3>Métricas Derivadas</h3>
  </ion-list-header>
  <ion-item>
    <ion-label>
      <h3>Longitud Programa</h3>
      <p>N</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.N }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Vocabulario Programa</h3>
      <p>n</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.n }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Volumen Programa</h3>
      <p>V</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.V }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Dificultad Programa</h3>
      <p>D</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.D }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Nivel Programa</h3>
      <p>L</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.L }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Esfuerzo Implementación</h3>
      <p>E</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.E }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Tiempo Implementación</h3>
      <p>T</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.T }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Número Bugs</h3>
      <p>B</p>
    </ion-label>

    <ion-label slot="end" class="ion-text-right">
      {{ metricas?.metricasDerivadas?.B }}
    </ion-label>
  </ion-item>
</ion-list>
<!-- /Metricas Derivadas -->
